/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family: 'exo', Arial, sans-serif;
    font-size:14px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

hr {
    border: 0;
    height: 1px;
    margin: 25px 0;
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
    background-image: -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
    background-image: -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
    background-image: -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
}

.sequ-table {
    position: absolute;
    width: 100%;
}

.sequ-table .header {
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    color: #ffffff;
    padding: 18px 0;
    background-color: #FFBA29;
    width: 100%;
}

.sequ-table .header div {padding-left: 16px;}

.sequ-table .disc {
    background-color: #47cad6;
    color: #ffffff;
    border-bottom: 5px solid rgb(3, 149, 163);
    width: 100%;
}

.sequ-table .disc-fixed {
    position: fixed;
    top: 0;
}

.sequ-table div {display: inline-block;}

.sequ-table .letter {
      width: 50px;
    height: 50px;
    border-radius: 30px;
    background-color: darkturquoise;
    color: #ffffff;
    text-align: center;
    font-size: 35px;
    margin: 10px -70px 10px 18px;
}

.sequ-table .name {
    width: 190px;
    padding: 12px 0px 20px 80px;
    vertical-align: middle;
}

.sequ-table .no-frames {
    width: 45px;
    vertical-align: middle;
}

.sequ-table .sequences {
    background-color: #f6f6f6;
    width: 100%;
    color: #686E7A;
}

.sequ-table .sequ {width: 100%;}

.sequ-table .sequ:nth-child(even) {
  background-color: #dfdfdf;
}

.sequ-table .new-sequ {
    width: 60px;
    height: 40px;
    border-radius: 30px;
    background-color: #FF3529;
    box-shadow: 2px 2px 15px #252525;
    position: fixed;
    bottom: 18px;
    right: 8px;
    color: #ffffff;
    font-size: 230%;
    z-index: 1000;
    padding: 10px 0;
    text-align: center;
    line-height: 35px;
    font-weight: 100;
}

.log {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: -webkit-radial-gradient(#23BECB, #158D98);
    background: -o-radial-gradient(#23BECB, #158D98);
    background: -moz-radial-gradient(#23BECB, #158D98);
    background: radial-gradient(#23BECB, #158D98);
    color: #ffffff;
}

.log h1 {
    font-family: 'vonique';
    font-size: 60px;
    font-weight: 100;
    margin-bottom: 0;
    text-align: center;
}

.log h4 {
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 0;
}

.log h4 a {color: #ffffff;}

.log img {
    margin-top: 50px;
    margin-bottom: -35px;
}

.form {
    margin: 0 auto;
}
.form-input {margin-top: 20px;}

.login {width: 291px;}

.login-container {width: 273px;}

/*-after*/
.form-after {
    margin: 0 auto;
}

.form-after h4{
    margin-bottom: 10px;
    padding-left: 10px;
}

input {
    margin: 5px 12px;
    width: 255px;
    height: 35px;
    font-size: 20px;
    border-radius: 6px;
    background: none;
    padding-left: 12px;
    border: 1px solid white;
    color: #ffffff;
    outline: none;
    transition: 0.2s;
}

input:focus {
    background-color: #ffffff;
    color: #37474F;
    transition: 0.2s;
}

::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.45);
}

:-moz-placeholder { /* Firefox 18- */
    color: rgba(255, 255, 255, 0.45);  
}

::-moz-placeholder {  /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.45);  
}

:-ms-input-placeholder {  
    color: rgba(255, 255, 255, 0.45);  
}

button {
    background: none;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px 10px 6px 10px;
    font-size: 15px;
    margin: 15px 108px 0 108px;
    transition: 0.2s;
    color: #ffffff;
    font-family: 'vonique';
    font-style: normal;
    font-weight: normal;
}